<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lukepeckett.coopershooked">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StoriesMenu"
            android:label="@string/title_activity_stories_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StoryView"
            android:label="@string/title_activity_story_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GamesMenu"
            android:label="@string/title_activity_games_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OGRGame"
            android:label="@string/title_activity_ogrgame"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OGRSweeper"
            android:label="@string/title_activity_ogrsweeper"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Invaders"
            android:label="@string/title_activity_invaders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OGRSSettings"
            android:label="@string/title_activity_ogrssettings"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>